# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SSM\GItHub-Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
